parameters:
  bootstrapFiles:
    - tests/bootstrap.php
  paths:
    - src
    - tests
  excludePaths:
    - tests/files
    - tests/test_app
    - tests/test_dir
  level: 4
  ignoreErrors:
    - missingType.iterableValue
